ul {

list-style: none;
margin: 0;
padding:0;
width: 25%;
height:100%;
position:fixed;
overflow:auto;

}

li a {

text-decoration:none;
text-align:center;
  display: block;
  width:150px;
  height:50px;
    line-height: 50px;
  background-color:#ffffff;
  color:#787878;
  
  }

li a:hover {
 
 background-color:#666666;
 color: white;
     
}

.active {
    
 background-color: #4CAF50;
 color: white;
    
}