h1 {
    
height:15vmin;
width: 100%;
text-align: center;
background-color: #FEC5BB;
line-height:15vmin;
font-family:"kg_defying_gravityregular";
font-size: 65;
border: 10px;
cursor: default;
position: fixed;
margin-top: 0;
z-index: 2;
    
}

h2 {
    
font-family: "kg_defying_gravityregular";
font-size: 40;
    
}

body {
    
margin: 0;
background-color: beige;
    
}

ul {

list-style: none;
margin: 0;
padding:0;
width: 250px;
height: 100%;
position:fixed;
overflow: auto;
top: 15vmin;
left:0;
background-color: #ff715c;

}

li a {

text-decoration:none;
text-align:center;
display: block;
width:100%;
height:50px;
line-height: 50px;
background-color: #ff715c;
color:white;
white-space: nowrap;
  
}

li a:hover {
 
 background-color:white;
 color: black;
     
}

li a.active {
    
 background-color: red;
 color: white;
    
}

#mySidebar {
    
transition: 0.5s;
width: 0px;
    
}

#content {
    
display: block;
width: 75%;
margin-left: 12.5%;
margin-right: 12.5%;
transition: 0.5s;
text-align:center;
font-family: roboto;
position: relative;
background-color: white;
top: 18vmin;
padding: 1vmin;
    
}

peepeepoopoo {

text-decoration: none;
position: fixed;
top: 10vmin;
left: 0;
height:5vmin;
width: 5vmin;
font-size: 5vmin;
background-color: #FEC5BB;
text-align: center;
line-height: 5vmin;
cursor: default;
z-index: 3;
    
}
    
img {
    
    height: 175px;
    width: 150px;
}

#CourseOutline {
    
    height: auto;
    width: 100%;
    
}

cite {
    
    font-size: 12.5px;
    
}
    